{% extends 'chairman_base.html' %}
{% block content %}

<br>&#13;

<div id="ui-view">
  <div>
     <div class="animated fadeIn">
         <div class="row">

            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-header">Выставление оценки</div>
                    <div class="card-body">
                        Группа: {{ student.group.name }}<br>
                        Студент: {{ student.fio }}<br>
                        Тема диплома: {{ student.diploma_name }}<br><br>

                        <hr align="center" width="100%" size="2" color="black" />


                        <form class="form-horizontal" action="/cabinet/commission/mark/{{ student.id }}" method="post">
                            {% csrf_token %}
                            {% for criterion in criteries %}
                            <div class="form-group row">
                                <label class="col-md-10 col-form-label" for="c_{{ criterion.id }}">{{ criterion.name }}</label>
                                <div class="col-md-1">
                                    {% if criterion.value %}
                                    <input class="form-control" id="c_{{ criterion.id }}" type="text"
                                           name="c_{{ criterion.id }}" value="{{ criterion.value }}"
                                           pattern="[2-5]" required>
                                    {% else %}
                                    <input class="form-control" id="c_{{ criterion.id }}" type="text"
                                           name="c_{{ criterion.id }}" pattern="[2-5]" required>
                                    {% endif %}
                                </div>

                            </div>
                            {% endfor %}

                        <hr align="center" width="100%" size="2" color="black" />

                            <div class="form-group row">
                                {% if av_mark %}
                                <label class="col-md-10 col-form-label" for="final"><b>Итоговый балл с учетом весов: </b>
                                    {{ av_mark }}
                                </label>
                                {% endif %}
                            </div>

                            <center>
                                <button class="btn btn-primary" type="submit" >Сохранить</button>
                            </center>

                        </form>
                    </div>
                </div>
            </div>
         </div>
     </div>
  </div>
</div>

{% endblock %}